@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-size: cover;
    height: 100vh;
    background-position: center;
    overflow:hidden;
    position: relative;
  }
  
  .banner .waves{
    position: absolute;
    width: 100%;
    bottom:0;
    left:0;
    
  }